.caption {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.title-section {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.text-body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin: 0;
    opacity: 0.6;
    color: #000000;
}

.text-count {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.tiles-container-flex {
    display: flex;
}

.tile {
    padding: 50px 110px 50px 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    background-color: #ffffff;
}

.tiles-container-flex .tile {
    flex-basis: 25%;
    height: 445px;
}

.tile-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.link-button {
    position: absolute;
    bottom: 0;
    right: -1px;
    padding: 35px;
}

.link-button-icon {
    width: 30px;
    height: 30px;
}

.tile:hover {
    background: #0536FC;
    transition: ease-in .3s;
}

.tile:hover .caption,
.tile:hover .text-count,
.tile:hover .text-body {
    color: #ffffff;
}

.tile:hover .link-button {
    background-color: #ffffff;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.technology-banner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 150px 200px;
    gap: 30px;
    background: #252525 url(/flexboxes-grids/img/technology.jpg) center top no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 574px;
    width: 100%;
}

.technology-banner .caption {
    color: #ffffff;
}

.technology-banner .title-section {
    color: #ffffff;
    width: 460px;
}

/* with grids */

.tiles-container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 445px;
    gap: 0px 0px;
}

.tiles-container-grid .tile {
    width: auto;
}

/* adaptive */

@media all and (max-width: 1240px) {

    .tile {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    }
    .tiles-container-flex {
        flex-wrap: wrap;
    }
    .tiles-container-flex .tile {
        height: 350px;
        flex-basis: 50%;
    }

    .tiles-container-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 350px 350px;
        gap: 0px 0px;
    }
}

@media all and (max-width: 860px) {

    .tile {
        gap: 40px;
    }

    .technology-banner {
        padding: 50px;
        height: 350px;
    }

    .tiles-container-flex .tile {
        height: auto;
        flex-basis: 100%;
    }

    .tiles-container-grid {
        grid-template-columns: unset;
        grid-auto-rows: auto;
        gap: 0px 0px;
    }
}

@media all and (max-width: 560px) {

    .technology-banner .title-section {
        width: 100%;
    }

    .technology-banner {
        padding: 20px;
    }

    .tile {
        gap: 20px;
        padding: 20px 65px 20px 20px;
    }

    .tile-header {
        gap: 10px;
    }

    .link-button {
        padding: 20px;
    }
    
    .link-button-icon {
        width: 15px;
        height: 15px;
    }
}