.caption {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.title-section {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.text-body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin: 0;
    opacity: 0.6;
    color: #000000;
}

.text-count {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.tiles-container {
    display: flex;
}

.tile {
    padding: 50px 110px 50px 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    height: 445px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    background-color: #ffffff;
    width: 25%;
}

.tile-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.link-button {
    position: absolute;
    bottom: 0;
    right: -1px;
    padding: 35px;
}

.link-button-icon {
    width: 30px;
    height: 30px;
}

.tile:hover {
    background: #0536FC;
    transition: 300;
    transition: 250ms;
}

.tile:hover .caption {
    color: #ffffff;
}

.tile:hover .text-count {
    color: #ffffff;
}

.tile:hover .text-body {
    color: #ffffff;
}

.tile:hover .link-button {
    background-color: #ffffff;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.technology-banner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 150px 200px;
    gap: 30px;
    background-color: #252525;
    background-image: url(/flexboxes-grids/img/technology.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 574px;
    width: 100%;
}

.technology-banner .caption {
    color: #ffffff;
}

.technology-banner .title-section {
    color: #ffffff;
    width: 460px;
}

/* with grids */

.tiles-container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1;
    gap: 0;
}

.tiles-container-grid .tile {
    width: auto;
}